<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s7design.menu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
        android:name="com.s7design.menu.app.Menu"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.s7design.menu.activities.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.s7design.menu.activities.RestaurantPreviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.s7design.menu.activities.TutorialFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.TutorialSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.OrderMealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.CategoryMealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.CheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.MealDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.ReceiptListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.ReceiptDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.SplashWarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.ManageAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.AboutTheAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.PickupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.s7design.menu.activities.TokenizationExplainedActivity"
            android:screenOrientation="portrait" />

        <!-- Activities from card.io library -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    </application>

</manifest>